.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  text-align: center;

  border: none;
  border-radius: 5px;

  font-size: 14px;
}

.primary {
  transition: all 0.2s;

  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  transition: all 0.2s;

  background-color: var(--primary-hover);
}

.ghost {
  transition: all 0.2s;

  color: var(--black);
  border: 1px solid var(--light-grey);
  background: none;
}

.ghost:hover {
  transition: all 0.2s;

  color: var(--white);
  border: 1px solid var(--light-grey);
  background-color: var(--primary);
}

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.down {
  transition: all 0.2s;
  transform: rotate(90deg);
}

.primary svg, .ghost:hover svg {
  fill: var(--white);
}